<video style="position: fixed; z-index: -99; width: 100vw; height: 101vh" muted autoplay="autoplay" loop="loop"><source src="/images/beachSunsetVideo.mp4" type="video/mp4" /></video>
<div class="signup-page">
  <div class="form">
    <form action="/signup" method="POST" id="form-container" enctype="multipart/form-data" class="login-form">

      <label for="username">Username</label>
      <input type="text" placeholder="username" name="username"/>

      <label for="password">Password</label>
      <input type="password" placeholder="password" name ='password'/>

      <label for="email address">Email Address</label>
      <input type="text" placeholder="email address" name="email"/>

      <label for="profile-picture">Profile Picture</label>
      <input type="file" name="photo">

      <button>create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>

    </form>
  </div>
</div>