
<div class="profilePage">
<div class="profile-div">
<img src="{{user.imgPath}}" alt="" class="profile-pic">
<h1>{{user.username}}</h1>
<button><a href="/events/eventsList">List of all events</a></button>
</div>
</div>
