body {
  // padding: 50px;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}
.custcontainer{
  position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100vh;
  // background: url(/public/images/beachSunsetVideo.mp4);
}
nav {
  z-index: 2;
  margin-top: 0;
  position: fixed;
  background: #4050d9;
}
.profilePage{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

button > a  {
  color: white;
}

.col-sm-3 > button {
  margin-top: 5vh;
  margin-left: 15vw;
}

.logo > img {
  width: 15vw;
  height: 15vh;
  margin-right: 60vw; 
}

.home-img {
  background-image: url(../images/kayak-buddy.jpg);
  height: 85vh;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: darkgreen;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4050d9;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgba(255, 94, 0, 0.904);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4050d9;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: url('../images/beachSunsetVideo.mp4'); /* fallback for old browsers */
  // background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  // background: -moz-linear-gradient(right, #76b852, #8DC26F);
  // background: -o-linear-gradient(right, #76b852, #8DC26F);
  // background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;      
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.profile-pic {
  width: 10vw;
}

.profile-div {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create-event-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

#create-event1 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50vw;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

// .create-event1 {
//   display: flex;
// }

.create-event1-img > img {
  width: 4vw;
  height: 7vh;
}

.create-event1-content {
  // display: flex;
  // justify-content: center;
  // text-align: center;
  margin-left: 2vw;
}

#create-event2 {
  display: none;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50vw;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create-event2-img > img {
  width: 5vw;
  height: 7vh;
}

.create-event2-content {
  // display: flex;
  // justify-content: center;
  // text-align: center;
  margin-left: 2vw;
}

#create-event3 {
  display: none;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50vw;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create-event3-img > img {
  width: 5vw;
  height: 7vh;
}

.create-event3-content {
  // display: flex;
  // justify-content: center;
  // text-align: center;
  margin-left: 2vw;
}

#create-event4 {
  display: none;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50vw;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create-event4-img > img {
  width: 5vw;
  height: 7vh;
}

.create-event4-content {
  // display: flex;
  // justify-content: center;
  // text-align: center;
  margin-left: 2vw;
}

button > img {
  width: 10vw;
}

.event-steps {
  color: #4050d9;
}

textarea {
  width: 32vw;
}

.events-header {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

.events-div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1vw;
}